<div class="row justify-content-center mt-3">
  <div class="col-sm-9">
    <table class="table table-boardered table-hover text-white">
      <thead>
        <tr>
          <th scope="col">Ticker</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @tracked_stocks.each do |stock| %>
          <tr>
            <th scope="row"><%= stock.ticker %></th>
            <td><%= stock.name %></td>
            <td><%= number_to_currency(stock.last_price) %></td>
            <td><%= link_to 'Remove stock', user_stock_path(stock), method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-sm btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="text-center my-5">
  <%= link_to 'Update stocks prices', update_stocks_path, class: "btn btn-info" %>
</div>
