<div class="row justify-content-center my-5">
  <div class="col-sm-9">
    <h3 class="text-center text-white my-3">Stocks</h3>
    <table class="table table-boardered table-hover text-white">
      <thead>
        <tr>
          <th scope="col">Ticker</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @tracked_stocks.each do |stock| %>
          <tr>
            <th scope="row"><%= stock.ticker %></th>
            <td><%= stock.name %></td>
            <td><%= number_to_currency(stock.last_price) %></td>
            <td><%= link_to 'Update price', update_stock_last_price_path(stock: stock), method: :post,class: "btn btn-sm btn-info" %>
              <%= link_to 'Remove stock', user_stock_path(stock), method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-sm btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
