<div class="row text-center">
  <h1><%= @user.full_name %> profile </h1>
  <div class="card card-header results-block mt-2">
    <strong>Name: </strong><%= @user.full_name %>
    <strong>Email: </strong><%= @user.email %>
    <% if current_user.not_friends_with?(@user.id) %>
      <%= link_to 'Follow?', friendships_path(friend: @user), class: "btn btn-xs btn-success", method: :post %>
    <% else %>
      <span class="badge bg-secondary">
        You are friends
      </span>
    <% end %>
  </div>
  
  <% if !@my_friends.empty? %>
    <h3>Friends</h3>
    <%= render 'friends/list' %>
  <% else %>
    <p class="lead"><%= @user.full_name %> has no friends</p>
  <% end %>

  <% if !@tracked_stocks.empty? %>
    <h3>Stocks</h3>
    <%= render 'stocks/list' %>
  <% else %>
    <p class="lead"><%= @user.full_name %> has no stocks</p>
  <% end %>

  <%= link_to 'Back', my_friends_path, class: "btn btn-primary mb-5" %>
</div>
  