<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to 'Tracker-Z', root_path, class: "navbar-brand" %>
    <% if current_user %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link <%= 'active' if request.path == root_path %>" href="/">My Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= 'active' if request.path == my_friends_path %>" href="/my_friends">My Friends</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to edit_user_registration_path, class: "dropdown-item" do %>
                <%= fa_icon 'edit' %> Edit profile
              <% end %></li>
              <li><%= link_to user_path(current_user), class: "dropdown-item" do %>
                <%= fa_icon 'user' %> View profile
              <% end %></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto mb-lg-0">
          <li class="nav-item user-name">
            <%= fa_icon 'user' %> <%= current_user.full_name %>
          </li>
          <li class="nav-item">
            <%= link_to('Logout', destroy_user_session_path, class: "btn btn-danger logout-button", method: :delete) %>
          </li>
        </ul>
        <%= form_tag search_stock_path, remote: true, method: :get, class: "d-flex" do %>
          <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: true, class: "form-control no-right-padding" %>
          <%= button_tag type: :submit, class: "btn btn-success px-3" do %>
            <%= fa_icon 'search 1x' %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</nav>
